/* queery solution */

@media screen and (max-width: 768px) {
    .container {
    
        width: 100%;
    }

}

@media screen and (max-width: 480px) {
    .container{
        width: 100%;
        
    }
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    
    .lesson .col{
        width: 100%;
    }

    .steps .col{
        width: 100%;
    }

}